@import './base.css';

article {
  background-color: var(--color-background-soft);
  border-radius: 10px;
  min-width: fit-content;
  padding: 10px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--color-background-soft);
  color: var(--color-text-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  color: var(--color-text);
  background-color: var(--color-background-mute);
  cursor: not-allowed;
}

.form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
